{% extends 'base.html'%}
{% block title %}
Change Password
{% endblock title%}
<body>
{% block content%}

<br/>
  
<section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center"> 
    
              <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="text-uppercase text-center mb-5">Change Password</h2>

                  <form method="POST" class="changepass" style="color:white">
                    <input type="hidden" name="userid2" value="{{current_user.id}}">
                      {{ form.hidden_tag() }}
                      
                      {{ form.currentpass(class="form-control", placeholder="Enter Current Password") }}
                      {{ form.currentpass.label() }}
                      <br> <br>

                      {{ form.newpass(class="form-control", placeholder="Enter New Password") }}
                      {{ form.newpass.label() }}
                      <br> <br> <br>
                       
                      <div class="d-flex justify-content-center">
                        {{ form.submit(class="btn btn-outline-light btn-lg px-5") }}
                      </div>
                      <br>

                     
                  </form>

                  </div>
              </div>
              </div>
          </div>
          </div>
      </div>
</section>


{% endblock content%}
</body>
</html>