<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First CSS Website</title>
    <link rel="stylesheet" href="index_style.css">
</head>
<body>
    <nav>
        <ul class="topnav">
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
            <li class="topnav-right"><a href="#signup">Sign Up</a></li>
            <li class="topnav-right"><a href="#signin">Sign In</a></li>
        </ul>
    </nav>


</body>
</html>

