{% extends 'base.html'%}
{% block title%}
Log In
{%endblock title%}

{%block content%}
<body> 
<!--SIGN UP FORM-->
<section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center"> 
              <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="shadow-lg p-3 mb-5 bg-body rounded" class="text-uppercase text-center mb-5">Log In</h2>

                  <form method="POST" class="form-register" style="color:white">
                      {{ form.hidden_tag() }}
                      
                      {{ form.username(class="shadow-lg p-3 mb-3 form-control", placeholder="Username") }}
                      {{ form.username.label() }}
                      <br> <br>
                    
                      {{ form.password(class="shadow-lg p-3 mb-3 form-control", placeholder="Password") }}
                      {{ form.password.label() }}
                      <br> <br> 
                       
                      <div class="d-flex justify-content-center">
                        {{ form.submit(class="shadow-lg p-2 mb-3 bg-body btn btn-light btn-lg px-5") }}
                      </div>
                      <br>

                      <p class="shadow-lg p-3 mb-0 bg-body rounded" class="mb-0">Don't have an account? <a href="{{ url_for('signupPage') }}"
                          class="text-white-50 fw-bold"><u>Sign up</u></a></p>

                  </form>

                  </div>
              </div>
              </div>
          </div>
          </div>
      </div>
</section>
</body>
{%endblock content%}
</html>
