{% extends 'base.html'%}
{% block title %}
Market
{% endblock title%}
<body>
{% block content%}
  <!--TABLE OF ITEMS-->
  <table class="table table-striped table-hover table-borderless table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
          <!--Rows inside the table-->
          {% for item in items %}
              <tr>    
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.name}}</td>
                  <td>${{ item.price }}</td>
                  <td>{{ item.description }}</td>
                  <td>
                      <button type="button" class="btn btn-dark">More Info</button>
                  </td>
                  <td>
                      <form action="" method="post">
                        <input type="hidden" name="userid2" value="{{current_user.id}}">
                        <input type="hidden" name="itemid2" value={{item.id}}>
                        <input type="submit" class="btn btn-dark" value="Add to Cart" name='addtocartform'/>
                      </form>
                  </td>
              </tr>
          {% endfor %}    
      </tbody>
    </table>
{% endblock content%}
</body>
</html>



