{% extends 'base.html'%}
{% block title %}
Market
{% endblock title%}
{% block content%}
<!--MARKET COLUMN-->
  <div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
      <h2>Available products on the Market</h2>
      <p>Click on one of the items to start buying</p>
      <br>
    <!--TABLE OF ITEMS-->
    <table class="table table-striped table-hover table-borderless table-dark">
        <thead>
          <tr>
            <!--Columns In Table-->
            <th scope="col">Id</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            
          </tr>
        </thead>
        <tbody>
            <!--Rows inside the table-->
            {% for item in items %}
            {% include 'includes/items_modals.html' %}
            <tr>    
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.description }}</td>
                <td>
                  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                </td>
                <td>
                  <form action="" method="post">
                    <input type="hidden" name="userid2" value="{{current_user.id}}">
                    <input type="hidden" name="itemid2" value={{item.id}}>
                    <input type="submit" class="btn btn-dark" value="Add to Cart" name='addtocartform'/>
                  </form>
                </td>
                <td>
                  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#Modal-ConfirmPurchase-{{ item.id }}">Buy this Product</button>
                </td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
    </div>



<!--Owned item column-->
<div class="col-4">
  <h2>Owned Items</h2>
  <p>Click on sell product to put it back on the Market</p>
  <br>
  <div class="row">
    {% for owned_item in owned_items %}
    {% include 'includes/owned_items_modals.html' %}
      <div class="col-md-6">
          <div style="margin-bottom: 5px" class="card text-center bg-dark">
                <div class="card-body">
                    <h5 class="card-title">{{ owned_item.name }}</h5>
                    <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                            data-toggle="modal" data-target="#Modal-ConfirmSelling-{{ owned_item.id }}">
                        Sell this Product
                    </button>
                    <p class="card-text"><strong>
                        Price : ${{ owned_item.price }}
                    </strong></p>
                </div>
            </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock content%}




