{% extends 'base.html'%}
<body>

{%block content%}	
<h1>{{ current_user.username }}</h1> 
<br>

<div class="changediv">
<br>

<!-- Trigger/Open The Modal -->
<button class="btn btn-outline-dark" id="myBtn">Change Password</button>
<br><br>
  <form action="" method="post">
      <input type="hidden" name="userid2" value="{{current_user.id}}">
      <input type="submit" class="btn btn-outline-dark" value="Delete Profile" name='deleteprofile'/>
  </form>
<!-- The Modal -->
<div id="myModal" class="modal">

<!-- Modal content -->
<div class="modal-content">
	<span class="close">&times;</span>
	<p>Enter New Password</p>
	<form method="POST"> 
		<textarea name="textbox"></textarea>
		<button type="submit" name="submit">Submit</button>
	</form>
</div>

</div>
</div>
</center>

<!--script for Modal-->
<script>
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks the button, open the modal 
	btn.onclick = function() {
		modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
		modal.style.display = "none";
		}
	}
</script>
{%endblock content%}
</body>
</html>
