{% extends 'base.html'%}
<body>

{%block content%}	
<center>
<h1>{{ current_user.username }}</h1> 
<br>
<p>My Items</p><br>

<div class="changediv">
<br>

 <form action="" method="post">
      <input type="hidden" name="userid2" value="{{current_user.id}}">
      <input type="submit" class="btn btn-dark" value="Change Password" name='changepassword'/>
  </form>
<br>
  <form action="" method="post">
      <input type="hidden" name="userid2" value="{{current_user.id}}">
      <input type="submit" class="btn btn-dark" value="Delete Profile" name='deleteprofile'/>
  </form>


<!-- Modal content 
<div class="modal-content">
	<span class="close">&times;</span>
	<p>Enter New Password</p>
	<form method="POST"> 
		<textarea name="textbox"></textarea>
		<button type="submit" name="submit">Submit</button>
	</form>
</div>
-->
</div>
</div>
</center>


{%endblock content%}
</body>
</html>