{% extends 'base.html'%}
{% block title%}
Sign Up
{%endblock title%}
<body>
{%block content%}  
<!--SIGN UP FORM-->
<section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center"> 
    
              <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="text-uppercase text-center mb-5">Sign Up</h2>

                  <form method="POST" class="form-register" style="color:white">
                      {{ form.username(class="form-control", placeholder="Username") }}
                      {{ form.username.label() }}
                      <br> <br>
                      <!-- <div class="form-outline mb-4">
                      <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1cg">Username</label>
                      </div> -->

                      {{ form.email_address(class="form-control", placeholder="Email") }}
                      {{ form.email_address.label() }}
                      <br> <br>
                      <!--<div class="form-outline mb-4">
                      <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example3cg">Email</label>
                      </div>--> 

                      {{ form.password(class="form-control", placeholder="Password") }}
                      {{ form.password.label() }}
                      <br> <br>
                      <!--<div class="form-outline mb-4">
                      <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cg">Password</label>
                      </div>-->

                      {{ form.confirm_password(class="form-control", placeholder="Confirm password") }}
                      {{ form.confirm_password.label() }}
                      <br> 
                      <!--<div class="form-outline mb-4">
                      <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                      </div> -->
                      <br> <br>
                       
                      <div class="d-flex justify-content-center">
                        {{form.submit(class="btn btn-outline-light btn-lg px-5")}}
                      </div>
                      <br>

                      <p class="mb-0">Already have an account? <a href="login.html"
                          class="text-white-50 fw-bold"><u>Login here</u></a></p>

                  </form>

                  </div>
              </div>
              </div>
          </div>
          </div>
      </div>
</section>
{%endblock content%}
</body>
</html>
